
ul {

list-style: none;
font-family: Arial, Helvetica, sans-serif;

}

ul li {

display: inline;

}

ul li a {

text-decoration: none;
color: rgba(0, 0, 0, 0.76);
font-size: medium;
padding: 5px;
margin: 5x;
}




.right{

  float:right;


}


ul li a:hover {

text-decoration: underline;


}

.image1 {

text-align: center;


}


.searchButton {

text-align: center;



}

form.searchButton input[type=text] {
  padding: 10px;
  font-size: 17px;
  width: 480px;
  border-radius: 30px;
  border-style: ridge;
  border-color: white;
  
}

.button {

  text-align: center;

}
button {


margin-top: 30px;
margin-right: 30px;
padding: 5px;
border: 1px solid #f2f2f2 ;
font-family: Arial, Helvetica, sans-serif;
color: #5f6368;
font-size: 14px;
height: 36px;


}

footer {
  position: fixed;    /* footer kısmına yazdıklarını en alta sabitlemeni sağlar    */
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding:15px;
  background-color:  #f2f2f2;
}




